.drawer{
    padding-top: 100px;
}

.menu{
    
}

















.sideNav{
    width: 30%;

    position: relative;
    right: 0px;
    background: grey;
    margin: 20px;
    padding: 20px;
}

li{
    list-style: none;
    font-size: 18px;
    text-align: right;

    padding: 10px 30px 10px 10px;
}