.grad {
    /* display: flex;
    flex-direction: column; */
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    text-align: center;
    height: 300px;
    width: 100%;
    background-image: url('../../images/curve-simplicity.jpg');
  }

  .headLine{
 
    font-family: 'Nunito', sans-serif;
    color: white;
      position: relative;
     top: 50%;
    
      transform: translateY(-50%);
      font-size: 30px;
      font-weight: bold;

  }

  .signUp{
    margin-top: 5px;
    position: relative;
    top: 100px;
  }

  .authButtons{
    display: flex;
    flex-direction: column; 
  }

  
