.grad {
    height: 300px;
    width: 100%;
    background-image: url('../images/curve-simplicity.jpg');
  }

  .headLine{
    font-family: 'Nunito', sans-serif;
    color: white;
      position: relative;
      top: 125px;
      left: 0px;
      font-size: 30px;
      font-weight: bold;

  }

  .signUp{
    position: relative;
    top: 125px;
    left: 0px;

  }