.card3{
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255, 222, 82, 0.38);
    height: 300px;
    width: 60%;
    margin: 40px auto ;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    
}

.jsImageDiv{
    height: 300px;
    width: 50%;
    text-align: center;
}

.jsImage{
    margin-top: 15px;
    height: 275px;
    width: 85%;
    
}

.HeadingJsCard{
    font-weight: bold;
    font-size: 30px;

}


.jsDescriptionDiv{
    padding:0px 25px 0px 15px;
    text-align: center;
}

